body {
    background-image: url("../gerek/lucas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ortala {
    color: aliceblue;
    width: 200px;
    height: 300px;
    margin: 30px;

}