body {
    background-image: url("../gerek/lucas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ortala {
    background: azure;
    width: 200px;
    height: 150px;
    margin: 30px;

}